.button {
    text-decoration: none;
    background-color: #3b78dc;
    display: block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    line-height: 1em;
    padding: 18px 4px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear,-webkit-transform .1s linear
}

.button:active {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95)
}
